@import "variables";
@import "./vendingMachine.scss";

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: "top-row top-row""details game";
    justify-items: center;
    align-items: flex-start;

    .game {
        grid-area: game;
    }

    .details {
        grid-area: details;
    }

    .top-row {
        grid-area: top-row;
    }
}