@import "variables";

@font-face {
    font-family: digital;
    src: url(digital-7.ttf);
}

.vending-machine {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .5fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "banana apple toy-car logo""beer shoe empty-rack keypad""dispenser dispenser dispenser .";
    background-color: $vendingMachinePlastic;
    border: 1px solid black;
    box-shadow: 14px -14px 5px 0px $vendingMachinePlastic;
    width: 50vw;
    margin: 0 25%;
    height: 75vh;
    justify-items: center;
    align-items: center;

    @mixin two-tone {
        background: darken($color: $vendingMachinePlastic, $amount: 10);
    }

    .product-rack:not(.dispenser) {
        border: 1px solid black;
        width: 90%;
        height: 75%;
        text-align: center;
        padding: 40% 0;
    }

    .product-rack {
        background: lighten($color: $vendingMachinePlastic, $amount: 10);
    }

    .logo {
        @include two-tone();
        grid-area: logo;
        height: 75%;
        width: 75%;
        text-align: center;
        padding: 60% 0;
    }

    .keypad {
        grid-area: keypad;
        margin: 0 1vw 0 0;
        width: 3rem;
        width: 90%;
        height: 75%;
        border: 1px solid black;
        text-align: center;
        @include two-tone();

        .wallet {
            font-family: digital, 'Courier New', Courier, monospace;
            color: orange;
            background-color: black;
            font-size: 2rem;
        }
    }

    .banana {
        grid-area: banana;
    }

    .apple {
        grid-area: apple;
    }

    .toy-car {
        grid-area: toy-car;
    }

    .beer {
        grid-area: beer;
    }

    .shoe {
        grid-area: shoe;
    }

    .empty-rack {
        grid-area: empty-rack;
    }

    .dispenser {
        $height: 8rem;
        grid-area: dispenser;
        border: 1px solid black;
        width: 90%;
        height: $height;
        line-height: $height;
        text-align: center;
        @include two-tone();
    }
}